# === Database ===
# Postgres connection string (Neon, Supabase, local, etc.)
DATABASE_URL=""

# === App ===
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# === Better Auth ===
# Generar un secret con: openssl rand -base64 32
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"